<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>智能门锁管理系统</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="css/admin.css">
</head>
<body>

<!-- import Vue before Element -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- 引入axios请求 -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<div id="app">
    <!-- 搜索框 -->
    <el-input
            v-model="name"
            placeholder="请输入姓名"
            clearable
            prefix-icon="el-icon-search"
    ></el-input>
    <el-input
            v-model="phone"
            placeholder="请输入电话"
            clearable
            prefix-icon="el-icon-search"
    ></el-input>

    <template>
        <el-select v-model="status" placeholder="全部状态">
            <el-option
                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
            </el-option>
        </el-select>
    </template>

    <el-button @click="search(name,phone,status)">搜索</el-button>
    <div class="content">
        <div class="container">
            <el-table
                    :data="list"
                    border
                    style="width: 100%">
                <el-table-column
                        type="index"
                        label="#"
                        width="80"
                        align="center"
                        show-overflow-tooltip>
                </el-table-column>
                <el-table-column
                        prop="schoolName"
                        label="学校名称"
                        align="center">
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="姓名"
                        align="center">
                </el-table-column>
                <el-table-column
                        prop="sex"
                        label="性别"
                        align="center">
                </el-table-column>
                <el-table-column
                        prop="telephoneNumber"
                        label="电话"
                        align="center">
                </el-table-column>
                <el-table-column
                        prop="workID"
                        label="学号/工号"
                        align="center">
                </el-table-column>
                <el-table-column
                        prop="college"
                        align="center"
                        label="学院">
                </el-table-column>
                <el-table-column
                        prop="className"
                        align="center"
                        label="班级">
                </el-table-column>
                <el-table-column
                        prop="buildingId"
                        align="center"
                        label="楼栋">
                </el-table-column>
                <el-table-column
                        prop="dormitory"
                        align="center"
                        label="宿舍">
                </el-table-column>
                <el-table-column
                        prop="status"
                        align="center"
                        label="状态">
                </el-table-column>
                <el-table-column align="center" label="操作">
                    <template #default="scope">
                        <span @click="addClick(scope.row.id)">审批</span>
                        <span @click="del(scope.row.id)">删除</span>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination">
                <el-pagination
                        background
                        :page-size="pagination.perPage"
                        :current-page="pagination.page"
                        :total="pagination.total"
                        @current-change="currentChange"
                        layout="total, prev, pager, next, jumper"
                ></el-pagination>
            </div>

            <el-dialog width="14%" title="审批" :visible.sync="dialogDateVisible">
                <div slot="footer" class="dialog-footer">
                    <el-button type="success" @click="verify('认证成功')">认证成功</el-button>
                    <el-button type="warning" @click="verify('认证失败')">认证失败</el-button>
                </div>
            </el-dialog>
        </div>
    </div>
</div>

<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                name: '',
                phone: '',
                status: '',
                pagination: {},
                list: [],
                exportList: [],
                dialogDateVisible: false,
                id: '',
                options: [{
                    value: '待认证',
                    label: '待认证'
                }, {
                    value: '认证成功',
                    label: '认证成功'
                }, {
                    value: '认证失败',
                    label: '认证失败'
                }]
            }
        },
        mounted() {
            this.getList()
        },
        methods: {
            async del(id) {
                var url = '/verify/user/delete/' + id;
                axios.post(url)
                    .then(res => {
                        console.log(res);
                        if (res.data.code !== 200) return console.log(res.data.msg)
                        this.list = res.data.data.result
                        this.pagination = {...res.data.data.meta}
                        location.reload()
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            addClick(i) {
                console.log(i);
                this.dialogDateVisible = true;
                this.id = i;
            },
            async verify(status) {
                var url = '/verify/user/update';
                axios.post(url, {
                    id: this.id,
                    status: status
                })
                    .then(res => {
                        console.log(res);
                        if (res.data.code !== 200) return console.log(res.data.msg)
                        this.list = res.data.data.result
                        this.pagination = {...res.data.data.meta}
                        this.dialogDateVisible = false;
                        location.reload()
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            getList() {
                axios.get('/verify/user/page/1/10')
                    .then(res => {
                        console.log(res);
                        if (res.data.code !== 200) return console.log(res.data.msg)
                        this.list = res.data.data.result
                        this.pagination = {...res.data.data.meta}
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            // 搜索
            async search(name, phone, status) {
                var url = '/verify/user/page/1/10';
                axios.get(url, {
                    params: {
                        name: name,
                        phone: phone,
                        status: status
                    }
                })
                    .then(res => {
                        console.log(res);
                        if (res.data.code !== 200) return console.log(res.data.msg)
                        this.list = res.data.data.result
                        this.pagination = {...res.data.data.meta}
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            // 分页查询
            async currentChange(val) {
                console.log(val)
                var url = '/verify/user/page/' + val + '/10';
                axios.get(url)
                    .then(res => {
                        console.log(res);
                        if (res.data.code !== 200) return console.log(res.data.msg)
                        this.list = res.data.data.result
                        this.pagination = {...res.data.data.meta}
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    })
</script>
</body>
</html>